@import "./node_modules/element-ui/packages/theme-chalk/src/common/var";
.el-form-table {
  &__header {
    margin-bottom: 10px;
  }
  &__remove {
    color: $--color-danger;
    &:hover {
      color: $--color-danger;
    }
  }
  .el-table td {
    vertical-align: top;
  }
}
