.el-form-auto {
  div.el-form-auto-row {
    flex-flow: row wrap;
  }
  .el-form-auto-row .el-form-item_hidden {
    display: none;
  }

  .el-checkbox + .el-checkbox-group {
    margin-left: 30px;
  }
}
