
.navbar {
	box-shadow: 0px 4px 10px rgba(0 0 0, 0.05);
}

h2 {
	border-bottom: none;
}

.sidebar {
	background: rgba(243, 245, 246, 1);
}

.custom-block {
	background: rgba(243, 245, 246, 1);

	&.tip {
		border-color: $accentColor;
	}
}

.component-page .page {
	.theme-default-content, .page-nav {
		max-width: none;
	}
}

.home .hero .description {
	margin: 5px 10px !important;
	max-width: inherit !important;
}

table {
	border-radius: 4px;
	min-width: 100%;
	display: table;
	border-color: transparent;
	border: 1px solid $borderColor;
}

th, td {
	border: none;
	border-right: 1px solid $borderColor;

	&:last-child {
		border-right: none;
	}
}

tr {
	line-height: 1.5em;
}

thead tr:first-child {
	border: none;
	background: #f3f5f6;
}

.el-table {
	table {
		border-collapse: separate;
		margin: auto;
		display: table;
		overflow-x: initial;
		border-radius: 0;
		min-width: auto;
		border: none;
	}

	tr {
		border-top: none;
	}

	th, td {
		border-left: none;
		border-right: none;
		border-top: none;
	}

	&.el-table--border {
		td, th {
			border-right: 1px solid #EBEEF5;
		}
	}
}

.el-date-table, .el-month-table, .el-year-table {
	border-collapse: separate;
	margin: auto;
	display: table;
	overflow-x: initial;
	border-spacing: 0px;
	border: none;

	td, tr {
		border: none;
	}

	th {
		border: none;
		border-bottom: solid 1px #EBEEF5;
	}

	tr:nth-child(2n) {
		background: none;
	}
}
