// 颜色
$accentColor = #346ddb
$textColor = #2c3e50
$borderColor = #d3dce4
$codeBgColor = #282c34
// $codeBgColor = #f5f2f0
$codeHighlightLineColor = #b3d4fc
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 4.2rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px